.pad {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.single-block {
    flex: auto;
    min-height: 40px;
    min-width: 40px;
    display: inline-block;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border-color: green;
    border-style: solid;
}

.btn {
    margin-top: 20px;
    color: black;
    background: #ffffff;
    text-transform: uppercase;
    padding: 20px;
    border: 5px solid black;
    border-radius: 6px;
    display: inline-block;
}

.btn:hover {
    color: #ffffff;
    background: green;
    transition: all 0.4s ease 0s;
}